<!-- <div class="page" style="background: url('assets/images/login/login_bg.png');background-repeat: repeat-y;"> -->
<div class="page" style="background: url('assets/images/background.png');background-repeat: repeat;">
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <app-header></app-header>
    <app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
    <section [ngClass]="{ collapsed: collapedSideBar }" class="main-container push-left">
        <router-outlet></router-outlet>
    </section>
    <!-- <app-footer></app-footer> -->
</div>